<div class="services-section-clubs">
  <marquee>
    <h1 class="poppins-black">
      Discotecas y clubes
    </h1>
  </marquee>
  <div class="img-container-section-club">
    <div>
      <h2>
        LET’S MAKE MEMORIES
      </h2>
      <p class="pt-3">
        You name it, and he’ll spin it.
        DJ One Chance has the experience to get any party started. If you want to have a pack dance floor book DJ One
        Chance for your next private event – from corporate parties, birthdays, mitzvahs, and every memory in between.

      </p>
      <button pButton
              severity="secondary"
              class="hero-button p-button-primary mt-1 mt-sm-5">
        Reserva tu evento
      </button>
    </div>
    <div>
      <img src="/fabio-discoteca.jpeg" alt="">
    </div>
  </div>
</div>

<!--Section 15 años-->
<div class="services-15-years-clubs">
  <marquee>
    <h1 class="poppins-black">
      15 años
    </h1>
  </marquee>
  <div class="img-container-15-years-club">
    <div>
      <h2>
        LET’S MAKE MEMORIES
      </h2>
      <p class="pt-3">
        You name it, and he’ll spin it.
        DJ One Chance has the experience to get any party started. If you want to have a pack dance floor book DJ One
        Chance for your next private event – from corporate parties, birthdays, mitzvahs, and every memory in between.

      </p>
      <button pButton
              severity="secondary"
              class="hero-button p-button-primary mt-1 mt-sm-5">
        Reserva tu evento
      </button>
    </div>
    <div class="img-container-15-years-club-img">
      <img src="/15-anos-services.jpg" alt="">
    </div>
  </div>
</div>


