h1 {
  font-size: 5rem;
}


.img-container-section-club {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3rem;
}


@media (max-width: 800px) {
  .img-container-section-club {
    flex-direction: column-reverse;
    text-align: center;

    h2 {
      padding-top: 3rem;
    }
  }


}
