.hero-section {
  background: url("/background-home.jpeg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;

  .hero-content {
    max-width: 600px;
    padding: 20px;

    .hero-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .hero-text {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .hero-button {
      font-size: 1rem;
    }
  }

}

.hero-section-services {
  text-align: center;
  color: white;
  padding: 2rem;


  .hero-section-services-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    .hero-section-img {
      flex: 0 0 25%;
      position: relative;

      .centered-img-texts {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    img {
      height: 100%;
      object-fit: cover;
    }

  }
}

.hero-section-about {
  text-align: center;
  background-color: #000000;
  padding: 2rem;

  .img-container-about {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
    gap: 2rem;
  }
}

.hero-section-partners {
  text-align: center;
  background-color: #FFFFFF;
  padding: 2rem;
}

.hero-section-partners-image-container {


  .hero-section-img {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex: 0 0 30%;


    .centered-img-texts {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  img {
    height: 100%;
  }

}

.hero-section-social-media {
  background-color: #a9a7a2;

  .hero-section-social-media-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }

  .hero-section-social-media-icons {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    a {
      font-size: 2rem;
    }

  }

}


@media (max-width: 800px) {
  .hero-section-services-image-container {
    flex-direction: column !important;
  }

  .img-container-about {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
  }
  .hero-section-img {
    flex-direction: column !important;
  }
  .hero-section-social-media-icons {
    flex-direction: column !important;
  }
}
