<section class="hero-section">
  <div class="hero-content text-center">
    <h1 class="hero-title">
      <img width="300" height="40"
           src="https://images.squarespace-cdn.com/content/v1/62c4381141f2657afce8665f/c54705f1-0ac7-4669-b536-a061433984a8/ONE+CHANCE+WORD+MARK.png?format=1500w"
           alt="">
    </h1>
    <p class="hero-text">DJ oficial del Club Chaparral</p>
    <button pButton
            severity="secondary"
            class="hero-button p-button-primary">
      Reserva tu evento
    </button>
  </div>
</section>

<section class="hero-section-services">
  <div class="hero-content text-dark">
    <h1 class="text-dark text-center">
      Servicios
    </h1>
    DJ One Chance has experience in all sorts of events
    – from weddings to arenas, everywhere he plays he makes
    the crowd move.
  </div>
  <div class="hero-section-services-image-container pt-5">
    <div class="hero-section-img">
      <p-image src="/services_1.jpg" alt="Image"
               [preview]="true"/>
      <div class="centered-img-texts">
        <h2>
          <a href="#">
            Discotecas
          </a>
        </h2>
      </div>
    </div>
    <div class="hero-section-img">
      <p-image src="/services_2.jpg" alt="Image"
               [preview]="true"/>
      <div class="centered-img-texts">
        <h2>
          <a href="#">
            15 años
          </a>
        </h2>
      </div>
    </div>
    <div class="hero-section-img">
      <p-image src="/services_3.jpg" alt="Image"
               [preview]="true"/>
      <div class="centered-img-texts">
        <h2>
          <a href="#">
            Privados
          </a>
        </h2>
      </div>
    </div>
  </div>

  <button pButton
          severity="secondary"
          class="hero-button p-button-primary mt-5">
    Reserva tu evento
  </button>
</section>

<!--section 3-->
<section class="hero-section-about">
  <div class="hero-content text-white">
    <h1 class="text-white text-center">
      Acerca de Fabio
    </h1>
    <div class="img-container-about">
      <div><img src="/fabio-1.jpeg" alt=""></div>
      <div>
        <p>
          s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book.
        </p>
      </div>
    </div>
  </div>
</section>
