<p-menubar [model]="items">
  <ng-template #start>
    <img width="135" height="35"
         src="https://images.squarespace-cdn.com/content/v1/62c4381141f2657afce8665f/c54705f1-0ac7-4669-b536-a061433984a8/ONE+CHANCE+WORD+MARK.png?format=1500w"
         alt="">
  </ng-template>
  <ng-template #end>
    <ng-template #item let-item let-root="root">
      <a [routerLink]="item.routerLink" pRipple class="flex items-end p-menubar-item-link">
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
  </ng-template>
</p-menubar>
