<footer class="hero-section-social-media">
  <div class="hero-section-social-media-container">
    <div><h1 class="poppins-black">Sigueme en mis redes</h1></div>
    <div class="hero-section-social-media-icons">
      <div>
        <a target="_blank" href="">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
      <div>
        <a target="_blank" href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div>
        <a target="_blank" href="">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
    </div>
    <div>
      <a target="_blank" href="mailto:fabiofasciano97@gmail.com">{{ email }}</a>
    </div>
  </div>
</footer>
